* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #333;
    background-color: #f6f6f6;
}

header {
    background: #1f6f43;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

header a:hover {
    color: #b4f5c4;
}

.hero {
    background: url('PI6.webp') center/cover no-repeat;
    color: rgb(255, 251, 251);
    text-align: center;
    padding: 6rem 1rem;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.btn {
    background: #4caf50;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #2e7d32;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem 2rem;
    background: white;
}

.sobre img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 1rem;
}

.servicos {
    text-align: center;
    padding: 3rem 2rem;
}

.servicos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    width: 300px;
    padding: 1rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.vantagens {
    background: #dff0e2;
    text-align: center;
    padding: 3rem 2rem;
}

.vantagens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}


.contato {
    padding: 3rem 2rem;
    text-align: center;
    background: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #1f6f43;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #145c34;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 0.5rem;
    }

    .sobre {
        flex-direction: column;
        text-align: center;
    }

    .servicos-container, .vantagens-container {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 1.8rem;
    }
}
